<div id="aboutme" class="z-depth-4 card">
  <h3>About</h3>
  <i class="material-icons"> school </i><label class = "label" for="lname"> College Name </label>
  <p>{{user.college}}</p>
  <i class="material-icons"> storage </i><label class = "label" for="lname"> Major </label>
  <p>{{user.major}}</p>
  <i class="material-icons"> home </i><label class = "label" for="lname"> Hometown </label>
  <p>{{user.home_town}}</p>
  <label class = "label" for="lname"> Bio </label><i class="material-icons"> edit </i>
  <textarea id="subject" name="subject" placeholder="Bio" style="height:130px">{{user.bio}}</textarea>
</div>
