<span class="card">
        <div class = "par">
          <img id="user_pic" src ="{{user.profile_pic}}" alt="Steve">
          <img id="college_pic" src ="http://news.mit.edu/sites/mit.edu.newsoffice/files/images/gateway-arch%20copy.jpg" alt="Steve">
        </div>
        <h1 style="text-align: center">{{user.name[0]+" "+user.name[1]}}</h1>
        <h5 style="text-align: center">{{user.college}}</h5>
        <div style="text-align: center" = "margin: 14px 0;">
          <a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
        </div>

</span>
