h1{
  margin-top: 30px;
}

.hidden{
  display: none !important;
}

.cardpanel{
  margin-left: 50px
  margin-right: 50px
}

#color{
  background-color: #4dd0e1;
}

#posts{
  background-color: #b2ebf2;
}

.btn:hover {
  background-color: #01579b;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper{
  background-color: #26c6da;
}

.page-footer{
  background-color: #26c6da;
}
