
h1{
  margin-top: -5px;
}

#college_pic{
  position: relative;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 99%;
  z-index: 1;
}

#user_pic{
  position: absolute;
  top: 20%;
  left: 5%;
  height: 200px;
  width:200px;
  border-radius: 50%;
  z-index: 2;
}

#friends{
  margin-top: 50px;
  max-height: 600px;
}

.par {
  position: relative;
  top: 0;
  left: 0;
}

.title {
  color: grey;
  font-size: 18px;
  text-align: center;
}

.label{
  padding-top: 40px;
}

button {
  border: none;
  outline: 5;
  display: inline-block;
  padding: 11px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.container {
  width: 100%;
}

.parent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
}

#aboutme {
  border: 10px;
  padding: 10px;
  margin: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
#card {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 10px;
  padding: 10px;
  margin: 10px;
}

.container3{
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100%;
  box-shadow: 0 4px 8px 0 rgba();
  margin: auto;
  font-family: arial;
}

.card img {
  width: 300px;
}

#subject{
  border-color: #4dd0e1;
}

.hidden{
  display: none !important;
}

.cardpanel{
  margin-left: 50px
  margin-right: 50px
}

#color{
  background-color: #4dd0e1;
}

#posts{
  background-color: #b2ebf2;
}

.btn:hover {
  background-color: #01579b;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper{
  background-color: #26c6da;
}

.page-footer{
  background-color: #26c6da;
}
