body{
  height:100%;
  width:100%;
}

/* .big-header{
  font-size: 60px;
} */

/* .welcome-bg{
  background-image: url("https://i1.wp.com/photos.tmahlmann.com/photos/i-sTbHMvK/1/L/i-sTbHMvK-L.jpg?resize=762%2C600");
  min-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 202px;
  min-height: 500px;
} */

/* .welcome-bg2{
  background-color: white;
  opacity: .85;
  padding: 20px;
  margin-top: 10%;
  background-position: 50% 50%;
  background-attachment: fixed;
} */

/* .container  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}

.userp {
  display: inline;
  width: 100%;
} */
#color{
  background-color: #26c6da;
}
.btn{
  background-color: #4dd0e1;
}
.btn:hover {
  background-color: #01579b;
}
.container {
  margin: auto;
  position: absolute;
  padding-top: 14%;
  width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
}
