<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <title>Host Connect</title>

     <!--CSS-->
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="css/hostconnect.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'templates/partials/navbar.html' %}
    <div class="container">

      <span class="container2">
         <h3>Host Connect</h3>

         <form action="/hostconnect" method="post">

           <label for="about">Title</label>
           <input type="text" id="" name="" placeholder="" required /><br>

            {% include 'templates/partials/who.html' %}


           <label for="Major">Date</label>
           <input type="date" id="myDate" value="currentDate" required />

           <script>
           function myFunction() {
               var x = document.getElementById("myDate").value;
               document.getElementById("demo").innerHTML = x;
             }
           </script><br>
         </br>
         <label for="appt-time">Start Time:</label>
         <input type="time" id="appt-time" name="appt-time" required />

         <label for="appt-time">End Time:</label>
         <input type="time" id="appt-time" name="appt-time" required />
         </span>

       </div class="container">
       {% include 'templates/partials/maps.html'%}
       <div class="row">
         <button class="btn waves-effect right" type="submit" name="submit">Submit<i class="material-icons right">send</i></button>
       </div>
     </form>
    <!--  Scripts-->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/hostconnect.js">
      $(".button-collapse").sideNav();
      </script>
      <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */

      </script>
    </body>
  {% include 'templates/partials/footer.html'%}
</html>
