<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <title>Join Connect</title>

     <!--CSS-->
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="css/hostconnect.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'templates/partials/navbar.html' %}
    <div class="container">

      <span class="container2">
         <h3>Join a Connect</h3>
         <form action="/joinconnect" method="post">

           {% include 'templates/partials/jcdrop.html' %}
           <div class="row">
           </div>

         </form>
       </div class="container">

       {% include 'templates/partials/maps222.html'%}

       <div class="row">
         <button class="btn waves-effect right" type="submit" name="submit">Submit<i class="material-icons right">send</i></button>
       </div>


    <!--  Scripts-->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/hostconnect.js">
      $(".button-collapse").sideNav();
      </script>
    </body>
  {% include 'templates/partials/footer.html'%}
</html>
