<!DOCTYPE html>
 <html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <title>Parallax Template - Materialize</title>

     <!--CSS-->
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="css/welcome.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   </head>
   <body>
     <div class="">
       <form action="/" method="post">
         <p><input type="text" name="name" value="Name">Name: </p>
         <p><input type="text" name="email" value="Email">Email: </p>
         <p><input type="text" name="password" value="Password">Password: </p>
         <p><input type="text" name="college" value="College">College/University: </p>
         <p><input type="text" name="courses" value="Courses">Major/Courses: </p>
         <p><input type="image" name="profilepic" value="Image">Upload Profile Pic: </p>
         <p><input type="submit" name="signup" value="Sign Up"></p>
       </form>
     </div>
     <!--  Scripts-->
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>
     <script src="js/welcome.js" type="text/javascript"></script>
   </body>
 </html>
