<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Account</title>
  </head>
  <body>
    <form action="/" method="post">
      <p><input type="text" name="name" value="Name">Name: </p>
      <p><input type="text" name="email" value="Email">Email: </p>
      <p><input type="text" name="password" value="Password">Password: </p>
      <p><input type="text" name="college" value="College">College/University: </p>
      <p><input type="text" name="courses" value="Courses">Major/Courses: </p>
      <p><input type="image" name="profilepic" value="Image">Upload Profile Pic: </p>
      <p><input type="submit" name="signup" value="Sign Up"></p>
    </form>
  </body>
</html>
