<!DOCTYPE html>
 <html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <title>Parallax Template - Materialize</title>

     <!--CSS-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
     <link href="css/welcome.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   </head>
   <body>
     <div class="welcome-bg responsive-img">
         <div>
           <h1 class="flow-text big-header center-align light-blue-text text-lighten-2">College Connect</h1>
         </div>
         <div class = "container">
           <form action="/signup" method="post">
             <div class = "container welcome-bg2">
               <p class="flow-text light-blue-text">Email:</p>
               <input class = "light-blue-text text-darken-1" type="text" name="email" value=""></p>
               <p class="flow-text light-blue-text">Password:</p>
               <input class = "light-blue-text text-darken-1" type="text" name="password" value="">
               <div class="row">
                 <div class="col left-align"><button class="btn waves-effect waves-light light-blue darken-2" type="submit" name="login">LOG IN<i class="material-icons right">lock_open</i></button></div>
                 <div class="right-align"><button class="btn waves-effect waves-light light-blue darken-2" name="signup">SIGN UP<i class="material-icons right">create</i></button></div>
               </div>
             </div>
           </form>
       </div>
     </div>
     <!--  Scripts-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
     <script src="js/welcome.js" type="text/javascript"></script>
   </body>
 </html>
