<!DOCTYPE html>
 <html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <title>Parallax Template - Materialize</title>

     <!--CSS-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   </head>
   <body>
     <div>
       <h1 id="index-banner"class="center-align header flow-text light-blue-text text-lighten-1">College Connect</h1>
     </div>
     <div class = "container">
       <form action="/profile" method="post">
         Email:
         <input type="text" name="email" value=""></p>
         Password:
         <input type="text" name="password" value="">
         <input type="submit" name="" value="Login">
       </form>
     </div>
     <div class="login"><img src="pictures/pretty_campus.jpg" alt=""> </div>
     <!--  Scripts-->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="js/materialize.js"></script>
     <script src="js/script.js"></script>
   </body>
 </html>
