<!DOCTYPE html>
 <html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <title>Parallax Template - Materialize</title>

     <!--CSS-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   </head>
   <body>
     <div class="welcome-bg responsive-img">
       <div>
         <h1 class="flow-text big-header center-align light-blue-text text-accent-3">College Connect</h1>
       </div>
       <div class = "container ">
         <form action="/profile" method="post">
           <p class="flow-text light-blue-text text-accent-3">Email:</p>
           <input type="text" name="email" value=""></p>
           <p class="flow-text light-blue-text text-accent-3">Password:</p>
           <input type="text" name="password" value="">
           <input type="submit" name="login" value="Login">
           <input type="submit" name="signup" value="Sign Up">
         </form>
       </div>
     </div>
     <!--  Scripts-->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="js/materialize.js"></script>
     <script src="js/script.js"></script>
   </body>
 </html>
